<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>OptiHire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'navbar.html' %}
    {% include 'header.html' %}
    {% include 'tools.html'%}
    {% include 'awards.html' %}
    {% include 'testimonials.html'%}
    {% include 'faq.html' %}
    {% include 'contact.html' %}
    {% include 'footer.html'%}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
