{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>📨 Generated Email</h2>
<pre>{{ email_text }}</pre>
<a href="#" class="btn btn-success" onclick="downloadEmail()">Download Email</a>

<script>
function downloadEmail() {
    const text = `{{ email_text|escapejs }}`;
    const blob = new Blob([text], { type: 'text/plain' });
    const link = document.createElement('a');
    link.href = window.URL.createObjectURL(blob);
    link.download = 'generated_email.txt';
    link.click();
}
</script>
{% endblock %}
